

.MetaContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.BigContainer{
    border: solid #FFE5D9 1.5rem;
    border-radius: 3rem;
    padding: 2rem;
}
.Title{
    text-align: center;
    margin-bottom: 4rem;
}

.Title h2{
    color: #9D8189;
    font-family: 'Montserrat-Medium';
    font-size: 3rem;
    margin: auto auto;
}

.TextTemperament{
    display: flex;
    font-size: 1.5rem;
}

.TextTemperament h3{
    margin:auto auto;
    width: 30rem;
    text-align: center;
    
}

.Text{
    display: flex;
    font-size: 1.5rem;
}

.Text h3{
    width: 100%;
    margin: auto auto;
    text-align: center;
}

.Container{
    display: flex;
    height: 60%;
    gap: 7rem;
}

.AttributesContainer{
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    height: 100%;
}

.RightSide{
    margin-left: 4rem;
}

.TapeTop{
    position: absolute;
    width: 20rem;
    height: 8.5rem;
    top: -2.5rem;
    left: -6rem;
    transform: rotate(-12deg);
}

.TapeBottom{
    position: absolute;
    width: 20rem;
    height: 8.5rem;
    bottom: -2.5rem;
    right: -7rem;
    transform: rotate(-12deg);
}
.Card{
    position: relative;
    margin: 0;
    padding-top: 2rem;
    width: 30rem;
    border: .2rem solid #9D8189;
    transform: rotate(-10deg);
    background-color: white;
    margin-bottom: 4rem;
    margin-left: 5rem;
}

.ImageDiv{
    height:fit-content;
    width: fit-content;
    margin: 0 auto;
    
}

.Image{
    margin: 0 auto;
    height: 22rem;
    width: 28rem;
}

.Name{
    text-align: center;
    margin-top: 0;
}

.Id{
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
}



.Button{
    margin: auto 0;
    margin-left: 5rem;
    height: 4.4rem;
    color: white;
    background-color: #F4ACB7;
    border: 0;
    border-radius: .5rem;
    width: 30%;
    font-family:'Montserrat-ExtraBold';
    font-size: 2.5rem;
    cursor: pointer;
    transition: .2s;
}

.Button:hover{
    background-color: #ec7d8d;
}

.Icon{
    height: 7rem;
    width: 7rem;
}

@media (min-width: 1367px) and (max-width: 1919px) {
    .MetaContainer {
        transform: scale(0.8);
    }
}

@media screen and (max-width: 1366px) {
    .MetaContainer {
        transform: scale(0.6);
    }
}

@media screen and (max-width: 1280px) {
    .MetaContainer {
        transform: scale(0.65);
    }
}

@media screen and (max-width: 414px) {
    .MetaContainer {
        transform: scale(0.52);
    }
    .Container {
        display: flex;
        flex-direction: column;
    }
    .ButtonContainer {
        display: flex;
    }
    .Button {
        width: 70%;
        margin: 0 auto;
        margin-top: 4rem;
    }
}
