.Container {
    display: none;
    width: 100%;
    background-color: #ffe5d9;
    justify-content: space-evenly;
}

.Container ul {
    margin: 0;
    z-index: 2;

}

.ClearContainer{
    cursor: pointer;
    border: .2rem solid transparent;
    padding: .1rem;
    display: none;
}

.ClearContainerOn{
    display: initial;
}

.ClearContainer h3{
    border-bottom: .3rem solid transparent; 
}


.Order{
    text-align: left;
    padding-left: 2%;

}
.Filters{
    margin-bottom: 0;
    padding: 0;
    display: flex;
    gap: 3.5rem;
    width: 100%;
    justify-content: space-evenly;
    padding-right: 2%;
}

.CleanContainer{
    height: fit-content;
    width: fit-content;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.ClearFilters{
    width: 3rem;
    height: 3rem;
    margin-bottom: .5rem;
}

ul{
    list-style: none;
}

.MobileContainer{
    display: none;
}
@media screen and (max-width: 414px) {
    .Container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 6rem;
        height: 9vh;
    }
    .Order {
        display: none;
    }

    .Filters {
        transform: scale(.68);
        margin-top: 5rem;
    }
}