
.Container{
    margin-left: 3%;
    
}
.ClearContainer{
    cursor: pointer;
    border: .2rem solid transparent;
    padding: .1rem;
    visibility: hidden;
}

.ClearContainerOn{
    visibility: visible;
}

.ClearContainer h3{
    border-bottom: .3rem solid transparent; 
}


.Order{
    text-align: start;
}
.Filters{
    margin-bottom: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 8.5%;
    width: 28rem;
}

.CleanContainer{
    height: fit-content;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.ClearFilters{
    width: 3rem;
    height: 3rem;
    margin-bottom: .5rem;
}

ul{
    list-style: none;
}

.MobileContainer{
    display: none;
}

@media screen and (max-width: 1366px) {

    .Order {
        transform: scale(.8);
    }

    .Container {
        margin: 0;
    }
    .Filters {
        transform: scale(.78);
        width: 25rem;
        margin: 0;
    }

}

@media screen and (max-width: 1280px) {
    .Filters {
        transform: scale(.8);
        margin-top: 0;
        width: 25rem;
    }

    .Container {
        margin-left: 0;
    }

    .Container h3 {
        font-size: 1rem;
        margin-bottom: 0;
    }
}
