
.MetaContainer {
    width: 100%;
    
}
.CardsContainer{
    margin: 0 auto;
    height: 100%;
    display: grid;
    grid-template-columns: 27rem 27rem 27rem;
    grid-row-gap: 7%;
    grid-column-gap: 12%;
    padding-top: 15rem;
    margin-bottom: 20rem;
    visibility: visible;
    overflow-x: hidden;
}

.DivError{
    grid-column: 1 / span 3;
}

.DivError h1{
    font-family: 'Montserrat-Medium';
    color: #d93025;
    font-size: 1.5rem;
    text-align: center;
}

.DivError button{
    display: block;
    height: 4rem;
    color: #ffffff;
    background-color: #F4ACB7;
    border: 0;
    border-radius: .5rem;
    width: 20rem;
    font-family:'Montserrat-Bold';
    font-size: 2rem;
    cursor: pointer;
    transition: .3s;
    margin: 0 auto;
}

.DivError button:hover{
    background-color: #ec7d8d;
}

.DivError button:active{
    background-color: #9D8189;
}

.Loading{
    opacity: .7;
    grid-column: span 3;
    margin: 0 auto;
    margin-bottom: 100%;
}

.CardsContainer.CardsLoading{
   display: none;
   visibility: hidden;
}

@media screen and (max-width: 576px) {
    .CardsContainer {
        width: 100vw;
        display: flex;
        flex-direction: column; 
        margin: 0 auto;
        padding-top: 10%;
        overflow-x: hidden;
    }
};